.container {
  .wrapper-container {
    display: flex;
    flex-direction: column;
    .home-container {
        // margin-left: 0;
    }

    .about-container {
      margin-top: 800px;
      background-color: #fff;
      width: 100%;
    }
    .portfolio-container {
        background-color: #fff;
    }

    .technologies-container {
        background-color: #fff;
    }
    .contact-container {
        background-color: #fff;
    }
  }
}
