.about {
  .wrapper-about {
    margin-left: 40px;
    margin-top: 100px;
    margin-right: 40px;
    .top-about {
      .title-about {
        font-size: 28px;
        font-weight: bold;
        color: #31087b;
      }
      .description-about {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .middle-about {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
      @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .dp-about {
        margin-top: 20px;
        img {
          width: 400px;
          height: 400px;
        }
      }
      .middle-data-about {
        margin-left: 20px;
        @media screen and (max-width: 400px) {
          margin-left: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          // margin-right: 10px;
        }
        .dp-title-about {
          margin-top: 10px;
          font-size: 22px;
          font-weight: 700;
          color: #31087b;
        }
        .dp-description-about {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 400;
        }
        .bio-about {
          display: flex;
          margin-top: 40px;

          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          @media screen and (max-width: 400px) {
            margin-left: 0px;
            margin-right: 10px;
            flex-direction: column;
            align-items: center;
          }
          .left-about {
            margin-left: 50px;
            margin-right: 100px;
            @media screen and (max-width: 400px) {
              margin-right: 0;
            }
            li {
              display: flex;
              align-items: center;
              margin-bottom: 18px;

              .topic {
                font-weight: bold;
                margin-right: 5px;
              }
            }
          }
          .right-about {

            @media screen and (max-width: 600px) {
              margin-left: 50px;
            }
            li {
              display: flex;
              align-items: center;
              margin-bottom: 18px;

              .topic {
                font-weight: bold;
                margin-right: 5px;
              }
            }
          }
        }
        .bottom-description-about {
          margin-top: 30px;
          font-size: 16px;
        }
      }
    }
    .bottom-about {
      margin-top: 20px;
      .bottom-title-about {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
        color: #31087b;
      }

      .bottom-des-about {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
      }
      .skilles-list-about {
        margin-top: 20px;
        display: flex;
        margin-left: 100px;

        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
        li {
          font-size: 20px;
          font-weight: bold;
          color: #31087b;
        }
        .left-skils-about {
          flex: 1;
          list-style: none;
        }
        .middle-skils-about {
          list-style: none;
          flex: 1;
        }
        .right-skils-about {
          list-style: none;
          flex: 1;
        }
      }
    }
  }
}
