.tech {
    width: 350px;
    height: 200px;
  .wrapper-tech {
    display: flex;
    .icon-tech {
        margin-right: 10px;
      .icons-tech {
        font-size: 48px;
        color: #fff;
        background-color: #149ddd;
        border-radius: 50%;
      }
    }
    .data-tech {
        .title-data-tech {
            font-size: 22px;
            font-weight: bold;
        }
        .description-data-tech {
        }
    }
  }
}
